.htmlLogin {
    height: 650px;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
    /* height: 100%; */
    width: 100%;
}

.form {
    justify-content: center;
    align-items: center;
    height: 10rem;
    font-weight: bold;
    padding: 190px;
}

.my-form label.ant-form-item-required {
    font-size: 17px;
    color: rgb(255, 255, 255);
}

.my-form {
    left: 20rem;
}

.rememberMe {
    color: white;
}

@media screen and (max-width: 924px) {
    .ant-form .ant-form-item .ant-form-item-label,
    .ant-form .ant-form-item .ant-form-item-control {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .ant-form-item .ant-form-item-label {
        padding: 0 0 8px;
        line-height: 1.5715;
        white-space: initial;
        text-align: left;
    }
    .ant-form .ant-form-item {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 543px) {
    .form {
        padding: 60px;
    }
}