.htmlVoucherDetail {
    position: "relative";
    justify-content: "center";
    text-align: "center";
}

.detailVoucher {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    padding-left: 100px;
}

.label-voucher-detail {
    font-weight: bold;
    margin-right: 5px;
}