.htmlDashboard {
    min-width: 1300px;
    width: auto !important;
    width: 1300px;
}

.site-layout-background {
    background: #fff;
}

.site-card-dashboard {
    padding: 30px;
}

.percentage-of-sales-category {
    background: #fff;
    margin-top: 30px;
}

.title-percentage-of-sales-category {
    justify-content: center;
    display: flex;
    padding-top: 20px;
    font-size: x-large;
}

.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
    color: white;
}

.trigger:hover {
    color: #1890ff;
}

.dashboard-calendar {
    /* width: 300px; */
    border: 1px solid #f0f0f0;
    border-radius: 2px;
}

.admin-avatar {
    display: flex;
    align-items: center;
}

.overview-header-count {
    height: 38px;
    margin-top: 4px;
    margin-bottom: 0;
    overflow: hidden;
    font-size: 30px;
    line-height: 38px;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    font-weight: bold;
}

.overview-body {
    padding-top: inherit;
    justify-content: space-between;
    display: flex;
}

.overview-footer {
    margin-top: 8px;
    padding-top: 9px;
    border-top: 1px solid #292a2d;
}

.form-product-dashboard .ant-form-item-label>label {
    color: rgb(0, 0, 0)
}

.form-voucher-dashboard .ant-form-item-label>label {
    color: rgb(0, 0, 0)
}

.form-add-product-dashboard .ant-form-item-label>label {
    color: rgb(0, 0, 0)
}

.form-staff-drawer-dashboard .ant-form-item-label>label,
.form-promotion-dashboard .ant-form-item-label>label,
.form-add-staff-dashboard .ant-form-item-label>label,
.form-add-promotion-dashboard .ant-form-item-label>label,
.form-add-category-dashboard .ant-form-item-label>label,
.form-predict-dashboard .ant-form-item-label>label,
.form-add-voucher-dashboard .ant-form-item-label>label {
    color: rgb(0, 0, 0)
}

.btn-Reload-Page-List-Of-Products,
.btn-Reload-Page-List-Of-StaffList,
.btn-Reload-Page-List-Of-Orders,
.btn-Reload-Page-List-Of-Vouchers,
.btn-Reload-Page-List-Of-Promotions {
    color: black;
    border-color: white;
    background: none;
}

.ant-descriptions-item-label {
    font-weight: bold;
}

.ant-steps-item-title {
    margin-top: -4px;
}

.form-product-dashboard .ant-form-item-label>label {
    font-size: 17px;
}