.htmlLogin {
    height: 650px;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
    /* height: 100%; */
    width: 100%;
}

.form {
    justify-content: center;
    align-items: center;
    height: 10rem;
    font-weight: bold;
    padding: 190px;
}

.my-form label.ant-form-item-required {
    font-size: 17px;
    color: rgb(255, 255, 255);
}

.my-form {
    left: 20rem;
}

.rememberMe {
    color: white;
}