.htmlHome {
    position: "relative";
    justify-content: "center";
    text-align: "center";
}

.htmlLogin .infoStore {
    height: auto;
    width: auto;
    display: grid;
}

.infoStore .info {
    margin: auto;
}

.title {
    /* height: 100%;
    width: 100%; */
    font-family: "Great Vibes", cursive;
    text-align: center !important;
    font-style: bold;
    color: hsla(340, 100%, 50%, 0.5);
    background-color: rgb(161, 161, 161);
    margin-top: -20px;
}

.title p.t-1 {
    height: 100%;
    width: 100%;
    margin-top: 20px;
    font-size: 50px;
}

.title p.t-2 {
    height: 100%;
    width: 100%;
    font-size: 25px;
    margin-top: -50px;
}

.images {
    margin-top: -25px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(293px, 1fr));
}

.image-item {
    height: 420px;
    object-fit: cover;
}

.image-item2 {
    height: 420px;
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
    /* position: relative; */
}

.image-item .hover-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* position: absolute; */
}

.image-item2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.image-item2:hover img {
    transition: transform 1s, filter 2s ease-in-out;
    filter: brightness(120%);
    transform: scale(1.2);
}

.bg {
    height: 551px;
    object-fit: cover;
}

.bg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1395px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 632px) {
    .title p.t-1 {
        font-size: 35px;
    }
    .title p.t-2 {
        font-size: 15px;
        padding: 15px;
    }
}