.htmlLogin {
    position: "relative";
    justify-content: "center";
    text-align: "center";
}

.htmlLogin .infoStore {
    height: auto;
    width: auto;
    display: grid;
}

.infoStore .info {
    margin: auto;
}

.bestSeller p.ant-divider-horizontal.ant-divider-with-text {
    font-size: 70px;
    font-style: bold;
}