.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
}


/* [data-theme="dark"] .site-layout-content {
    background: #fc0000;
} */

.logo-avatar,
.shopping-cart {
    float: right;
}

.avatar-img {
    object-fit: cover;
    width: 64px;
    height: 68px;
}

.ant-row-rtl .logo-avatar {
    float: left;
}

.chat-input-area {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

.chatBoxTop {
    margin-bottom: 50px;
}

.ant-layout-header {
    background-image: linear-gradient(#ff0055, #F5CEC7);
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: hsla(340, 100%, 50%, 0.5)
}

.ant-menu-overflow-item ant-menu-item ant-menu-item-only-child {
    background-color: hsla(340, 100%, 50%, 0.5)
}

.ant-menu-overflow-item ant-menu-item ant-menu-item-active ant-menu-item-only-child {
    background: hsla(340, 100%, 50%, 0.5)
}