.htmlProductDetail{
    position: "relative";
    justify-content: "center";
    text-align: "center";
}

.relatePage{
    padding-top: 10px;
    padding-right: 100px;
    padding-left: 100px;
    height: 50%;
    width: 100%;
}

.detailProduct{
    padding-top: 10px;
    padding-right: 100px;
    padding-left: 100px;
    height: 100%;
    width: 100%;
}

.formDetailProduct{
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 10px;
    text-align:center;
}


.infoProduct{
    padding-top: 10px;
    padding-right: 100px;
    padding-left: 100px;
    height: 100%;
    width: 100%;
}

.commentProduct{
    padding-top: 10px;
    padding-right: 100px;
    padding-left: 100px;
    height: 100%;
    width: 100%;
}