.htmlProductDetail {
    position: "relative";
    justify-content: "center";
    text-align: "center";
}

.relatePage {
    padding-top: 10px;
    padding-right: 100px;
    padding-left: 100px;
    height: 50%;
    width: 100%;
}

.detailProduct {
    padding-top: 10px;
    padding-right: 100px;
    padding-left: 100px;
    /* height: 100%; */
    /* width: 100%; */
}

.imageListProduct {
    padding: 5px;
}

.imageDetailProduct {
    justify-content: center;
    align-items: center;
}

.formDetailProduct {
    padding-top: 10px;
    padding-left: 30px;
}

.infoProduct {
    padding-top: 10px;
    padding-right: 100px;
    padding-left: 100px;
    height: 100%;
    width: 100%;
}

.collapseInfoProduct>.ant-collapse-item>.ant-collapse-header {
    font-weight: bold;
    font-size: 18px;
}

.commentProduct {
    padding-top: 10px;
    padding-right: 100px;
    padding-left: 100px;
    height: 100%;
    width: 100%;
}

.review,
.sold {
    padding-left: 20px;
}

.review,
.rating {
    cursor: pointer;
}

.btnAddToCart {
    color: black;
    border-color: white;
    background: none;
}

.btnAddToCart:hover {
    background: none;
    border-color: white;
}