.name {
    font-family: "Great Vibes", cursive;
    /* line-height: 160px; */
    font-weight: 100%;
    margin-bottom: 0px;
    margin-top: 30px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}

@supports (mix-blend-mode: lighten) {
    section.light .h1 {
        display: inline-block;
        position: relative;
        color: #000;
        background: #fff;
        mix-blend-mode: multiply;
    }
    section.light .h1::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient( to right, #23966c, #faaa54, #e23b4a, #db0768, #360670);
        pointer-events: none;
    }
    section.light .h1::before {
        mix-blend-mode: screen;
    }
}

section {
    /* min-height: 50vh; */
    padding: 5em;
}

.name .h1 {
    color: color-mix(in srgb, #22879e 10%, white);
    font-size: 100px;
    /* margin: 0.5em; */
    /* opacity: 0.9; */
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .name .h1 {
        color: color-mix(in srgb, #22879e 10%, white);
        font-size: 50px;
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .name .h1 {
        color: color-mix(in srgb, #22879e 10%, white);
        font-size: 50px;
        height: 100%;
        width: 100%;
    }
    .row {
        display: block;
    }
    .colServerUpgrade {
        max-width: 100%;
    }
    section.light .h1 {
        padding: inherit;
    }
}

@media screen and (max-width: 308px) {
    .name .h1 {
        color: color-mix(in srgb, #22879e 10%, white);
        font-size: 20px;
        height: 100%;
        width: 100%;
    }
    .row {
        display: block;
    }
    .colServerUpgrade {
        max-width: 100%;
    }
    section.light .h1 {
        padding: inherit;
    }
}